.navbar {
  display: flex;
  gap: 2rem;
  height: 100px;
  align-items: center;
}

.navbar .navbar__item {
  list-style-type: none;
  padding: 10px;
  transition: all 0.3s ease-in;
  cursor: pointer;
  border-radius: 8px;
}

.Nav__link {
  text-align: center;
  left: 0;
  color: #000;
  width: 100vw;
  text-shadow: 0 0 20px lightblue, 0 0 25px blue;
  letter-spacing: 5px;
}
.navbar .Nav__link:hover {
  text-shadow: 0 0 20px hotpink, 0 0 25px blue;
}
.navbar__item.danger:hover {
  background-color: hotpink;
}
