.container {
  display: flex;
  position: relative;
}

.register-form-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.register-form {
  max-width: 450px;
  width: 100%;
}

.form-group.input {
  box-shadow: none;
  border: 0;
  border-bottom: 1px solid #e7e7e7;
  padding: 10px 30px 10px 0;
  color: #111;
}

.form-group.input input[type="text"],
input[type="password"] {
  width: 100%;
  font-size: 18px;
  border: none;
  outline: none;
}

.form-group.input {
  margin-top: 35px;
}
.form-group {
  margin-top: 20px;
}

/* .form-group.button {
    margin-top: 20px;
} */

.btnSubmit {
  background-color: #eba627;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  display: inline-block;
  font-size: 17px;
  font-weight: 500;
  box-shadow: none;
  outline: none;
  border: 0;
  color: #fff;
  border-radius: 3px;
  background-color: #ffbd3f;
  padding: 10px 36px;
  transition: all 0.3s ease-in-out;
}

.btnSubmit:hover {
  background-color: #eba627;
}

.form-group.button {
  text-align: center;
}

.checkbox label {
  color: #e7e7e7;
}

.form-input {
  padding: 20px 0;
}

.intro-Change {
  width: 50%;
  height: 100%;
  transform: translateX(100%);
  transition: all 0.3s ease-in;
  position: fixed;
  background-image: url("https://affixtheme.com/html/xmee/demo/img/figure/bg10-l.jpg");
}

.intro-Change__container {
  min-height: 100vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #fff;
  margin: 0 auto;
  justify-content: center;
  gap: 1rem;
}

.footer-container {
  margin: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
  justify-content: center;
  /* align-items: center; */
  gap: 1rem;
}

.footer-container div {
  padding: 5px;
  border: 1px solid black;
  border-radius: 50%;
}

.btnChange {
  padding: 15px 36px;
  /* width; */
  width: fit-content;
  border-radius: 5px;
  margin: 0 auto;
  cursor: pointer;
  transition: all 0.3s ease-in;
  border: 1px solid #fff;
}

.btnChange:hover {
  background-color: #fff;
  color: #eba627;
}

.error-message {
  color: red;
  display: block;
  margin-top: 2px;
  transition: all 0.3s ease-in;
  font-style: italic;
}

.password {
  display: flex;
}
