.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* height: 100vh; */
}
/* .container {} */

.page-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-container div {
  /* margin: 0 auto; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.textfill {
  background-image: url('./assest/moutain2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* margin-top: 250px; */
  font-size: 250px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Steelfish Rg", "helvetica neue", helvetica, arial, sans-serif;
  font-weight: 800;
  -webkit-font-smoothing: antialiased;
}
