.goBack {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  border-radius: 16px;
  transition: all 0.3s ease-in;
}
.goBack:hover {
  background-color: hotpink;
}
